body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Tahoma', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12.5px;
}

body {

}

#ds {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.refs p {
  margin: 0;
  font-size: 9px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure figcaption {
  text-align: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 9px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  background-color: #FFC993;
  display: block;
  padding: 10px 30px 10px 50px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-weight: bold;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F40;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

.btn-light {
  color: #4B413F;
}

#footer {
  color: #4B413F;
  padding: 2em 10em 4em 10em;
}

h1,
h2,
h3,
h4,
h5,
h6,
#footer,
.btn-light {
  font-family: 'Geneva', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

h4.subtitle {
  text-align: left;
  font-weight: lighter;
  font: Roboto, sans-serif;
}

.bg-primary {
  background-color: #F05F40 !important;
}

.bg-dark {
  background-color: #4B413F !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #4B413F;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #4B413F;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNavbar {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  /* white */
  background-color: #fff;
  font-family: 'Geneva', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNavbar .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #4B413F;
  font-family: 'Geneva', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNavbar .navbar-brand:focus, #mainNavbar .navbar-brand:hover {
  color: #F05F40;
}

#footer {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  /* black */
  color: #4B413F;
}

#mainNavbar .navbar-nav > li.nav-item > a.nav-link,
#mainNavbar .navbar-nav > li.nav-item > a.nav-link:focus,
#mainNavbar .navbar-nav > li.nav-item.dropdown > div.dropdown-menu > a.nav-link.dropdown-item {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  /* grey */
  color: #4B413F;
}

/* selects nav-link inside li.nav-items inside a navbar, when hovered over */
#mainNavbar .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNavbar .navbar-nav > li.nav-item > a.nav-link:focus:hover,
#mainNavbar .navbar-nav > li.nav-item.dropdown > div.dropdown-menu > a.nav-link.dropdown-item:hover {
  /* orange */
  color: #F05F40;
}

#mainNavbar .navbar-nav > li.nav-item.dropdown > div.dropdown-menu > a.nav-link.dropdown-item {
  padding-left: 20px;
}

#mainNavbar .navbar-nav > li.nav-item > a.nav-link.active,
#mainNavbar .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNavbar .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNavbar .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNavbar {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNavbar .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNavbar .navbar-brand:focus, #mainNavbar .navbar-brand:hover {
    color: #fff;
  }
  #mainNavbar .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNavbar .navbar-nav > li.nav-item > a.nav-link,
  #mainNavbar .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNavbar .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNavbar .navbar-nav > li.nav-item > a.nav-link:focus:hover
  #mainNavbar .navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:hover {
    color: #fff;
  }
  #mainNavbar.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNavbar.navbar-shrink .navbar-brand {
    color: #4B413F;
  }
  #mainNavbar.navbar-shrink .navbar-brand:focus, #mainNavbar.navbar-shrink .navbar-brand:hover {
    color: #F05F40;
  }
  #mainNavbar.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNavbar.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    /* setting colour to grey */
    color: #4B413F;
  }
  #mainNavbar.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNavbar.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover
  #mainNavbar .navbar-nav > li.nav-item > div.dropdown-menu > a.dropdown-item:hover {
    color: #F05F40;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  /* grey */
  background-color: #4B413F;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    /*min-height: 650px;*/
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  /*background-color: #f05f40*/
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 /*#f04f50*/ !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.footer-text {
  text-transform: none !important;
  font-size: .7rem;
}


/* ========================================================== */
/* PERSONAL PAGE STYLES */
/*
header.personal-section-header {
  padding-top: 7rem !important;
  padding-bottom: .1em;
}
*/

header.masthead.personal-section-header {
  padding-top: 5rem;
  padding-bottom: .8rem; /* calc(4rem - 60px); */
  padding-left: 4rem;
  /* grey */
  background-color: #4B413F;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 2px 10px 5px rgba(100, 100, 100, 0.49);
}

.personal-section-body #sideMenu hr {
  /*color: red;*/
  margin-top: 10px;
  margin-bottom: 0px;
  border-top: 1px solid #F39845;
  /*max-width: 5rem;*/
  /*padding-top: .3rem;*/
  padding-bottom: .3rem;
}

/*
header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}
*/


header.masthead.personal-section-header h1 {
  font-size: 3rem;
}

@media (min-width: 992px) {
  header.masthead.personal-section-header {
    max-height: 200px;
    padding-top: 3rem;
    padding-bottom: .4rem;
    padding-left: 4rem;
  }
}

@media (max-width: 992px) {
  header.masthead.personal-section-header {
    /*font-size: 2rem;*/
    height: 200px;
  }
}

/*
header.masthead hr.personal-section-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
*/

.personal-section-body hr {
  border-top: 1px solid #8c8b8b;
  max-width: 30rem;
  padding-bottom: 1rem;
}

.personal-section-title, .personal-section-author {
  text-align: left !important;
}

.personal-section-author {
  font-weight: lighter !important;
  font-size: 14px;
}

.personal-section-body {
  padding: 3rem;
}

#sideMenu.side-menu-fixed {
  top: 0px;
}

#sideMenu {
  background-color: #fff;
}

#sideMenu .nav {
  background-color: rgb(234, 234, 234); /*#f7f7f7; rgb(255, 192, 99);*/
  padding: 16px 12px 16px 16px;
  max-height: 800px;
  /*max-width: 350px;
  overflow: auto;
  overflow-y: auto !important;
  overflow-x: hidden !important;*/
  font-size: 12px;
}

#sideMenu .nav a {
  color: #212529 !important; /*rgba(255, 255, 255, 0.7) !important;*/
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;

}

#sideMenu .nav a:hover {
  /*color: red; #F04F50;*/
  color: #F04F50 !important;
  background-color: transparent; /* !important; rgba(255, 255, 255, 0.7) !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;*/
}


.nav-pills .nav-link.active { /*, .nav-pills .show > .nav-link {*/
  font-weight: 600;
  background-color: transparent; /* !important;*/
}

/*#sideMenu > .nav-pills > .nav-item a:hover {
  color: #F04F50;
}*/

/*div {
  width: 500px;
  margin: 10px
}*/

/* Personal page ordered lists */
ol.personal-page-list {
  list-style-type: none;
  padding-left: 10px;
}

ol.personal-page-list li {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

ol.personal-page-list > li p {
  padding-left: 45px;
}

ol.personal-page-list span {
  font: bold italic 25px Helvetica;
  color: #FFC993;
  padding-left: 5px;
  padding-right:10px;
  position: absolute;
}

.python-notebook {
  height: 500px;
  /*
  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;*/
}

.gist {
  width:600px !important;
}

.gist-file .gist-data {
  max-width: 600px;
}

ul.personal-page-list {
  display: block;
}


/*
ul.personal-page-list li {
<<<<<<< HEAD
  list-style-type: none;
}*/

/*CSS for following section is for prerequisite's box on homepage*/
.row.vdivide [class*='col-']:not(:last-child):before {
  background: #e0e0e0;
  width: 3px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

#textonarrow {
  font-family: 'Geneva', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 17px;
  font-weight: 800;
}

/*==========================================================================================================*/


=======
  list-style-type: none;
}*/
>>>>>>> 982e531dc422a40c666475ce9a2a9ba9aabd51a0
